body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.homepage {
  text-align: center;
  margin-top: 80px;
}

.homepage__title {
  margin-bottom: 30px;
}

.homepage__text {
  margin-bottom: 30px; 
}

.panel {
  margin-bottom: 0
} 

.panel-container {
  margin-top: 30px;
}

.panel > .panel-heading  {
  background-image: none;
  background: #338DCD;
  color: #fff;
}

.panel-title {
  font-size: 25px;
}

.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
  text-decoration: none;
}

.panel-title::first-letter {
  text-transform: capitalize;
}

.quiz-start-btn-container {
  text-align: center;
}

.quiz-start-btn {
  margin: 30px;
}

.questions-inputs-container {
  width: 50%;
}

.questions-btn-container {
  text-align: center;
  margin: 50px;
  padding-bottom: 50px;
}

.quiz-question-container {
  margin-top: 100px;
  margin-left: 100px;
}

.quiz-question__text {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}
.quiz-question__text::first-letter {
  text-transform: capitalize;
}

.quiz-container {
  margin-top: 100px;
  text-align: center;
  line-height: 100px;
}

.leaderboard-item-description {
  font-size: 13px;
  font-style: italic;
  margin-left: 10px;
}

.leaderboard-item-header {
  font-size: 20px;
}

.question-form {
  margin: 30px 0;
}

.question-form__container {
  margin: 30px 0;
}

.question-form__container .form-group {
  padding: 30px;
}

.question-form-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.created {
  margin: 80px;
  text-align: center;
}

.created__text {
  margin-bottom: 50px;
}

.quiz-name::first-letter {
  text-transform: capitalize;
}

.correct-answer {
    transform: scale(1.5)
}

.instructions {
  border-bottom: .5px solid #FD572E;
  padding-bottom: 5px;
}
